[data-test=color] [data-value=Red] {
	background: red;
	color: white;
}

[data-test=color] [data-value=Blue] {
	background: blue;
	color: white;
}

[data-test=color] [data-value=Black] {
	background: black;
	color: white;
}

[data-test=color] [data-value=Yellow] {
	background: yellow;
	color: black;
}

[data-test=color] [data-value=Green] {
	background: green;
	color: white;
}

[data-test=color] [data-value=White] {
	background: white;
	box-shadow: inset 0 0 1px black;
	color: black;
}
