/*color test*/
[data-test=color] [data-value=Red] {
	background: red;
	color: white;
}

[data-test=color] [data-value=Blue] {
	background: blue;
	color: white;
}

[data-test=color] [data-value=Black] {
	background: black;
	color: white;
}

[data-test=color] [data-value=Yellow] {
	background: yellow;
	color: black;
}

[data-test=color] [data-value=Green] {
	background: green;
	color: white;
}

[data-test=color] [data-value=White] {
	background: white;
	box-shadow: inset 0 0 1px black;
	color: black;
}

[data-test=color] [data-value=White] {
	background: white;
	box-shadow: inset 0 0 1px black;
	color: black;
}

/*position test*/
[data-test=position] button{
	position: absolute;
}
[data-test=position] [data-value=Top\ left] {
	top: 10px;
	left: 10px;
}
[data-test=position] [data-value=Bottom\ left] {
	bottom: 10px;
	left: 10px;
}
[data-test=position] [data-value=Top\ right] {
	top: 10px;
	right: 10px;
}
[data-test=position] [data-value=Bottom\ right] {
	bottom: 10px;
	right: 10px;
}

/*attraction test*/
[data-test=attraction] button {
	position: absolute;
	top: 50%;
	left: 40%;
	-webkit-transition: none;
}

[data-test=attraction] button:last-child {
	left: 60%;
}

/*font test*/
[data-test=font] [data-value=Comic\ Sans] {
	font-family: 'Comic Sans MS';
}
[data-test=font] [data-value=Arial] {
	font-family: Arial;
}
[data-test=font] [data-value=Georgia] {
	font-family: Georgia;
}

/*shape test*/
[data-test=shape] button{
	background: none;
	font-size: 0;
	margin: 0 20px;
	border-radius: none;
}
[data-test=shape] [data-value=Triangle] {
   width: 0;
   height: 0;
   border-right: 100px solid orange;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
}

[data-test=shape] [data-value=Circle] {
   width: 140px;
   height: 140px;
   background: red;
   -moz-border-radius: 70px;
   -webkit-border-radius: 70px;
   border-radius: 70px;
}


[data-test=shape] [data-value=Square] {
   width: 140px;
   height: 140px;
   background: blue;
}

[data-test=shape] [data-value=Trapezium] {
   height: 0;
   width: 80px;
   border-bottom: 80px solid blue;
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
}
